*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.box{
    width: 100%;
}

.item{
    box-sizing: border-box;
    float: left;
    width: 33.3%;
    height: 400px;
    background-color: red;
    border: 1px solid black;
}

.box > div:last-of-type{
    background-color: blue;
}

.box > p:last-of-type{
    color: green;
}

/*PAREI EM 08:07 MIN*/