@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Source+Code+Pro:wght@200&family=Source+Sans+Pro:wght@200&display=swap');

:root{
    --background-color-white: #f1f1f1;
    --background-color-dark: #111;
    
    --color-font-white: #fff;
    --color-font-dark:  rgb(14, 13, 13);
}

::-webkit-scrollbar{
    width: 0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body.dark{
    background:#292c35;
}
body{
    background-color: #fafafa;
    font-family: "Source Sans Pro", sans-serif;
    color: var(--background-color-dark);
    background-color: var(--background-color-white);


}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding: 10px;
}

p{
    text-align: left;
    margin-top: 30px;
}

.links > a{
    text-decoration: none;
}


/* DARK MODE*/
.checkbox{
    position: absolute;
    opacity: 0%;
}

.label{
    background-color: var(--background-color-dark);
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1);
}

.label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}
.fa-moon{
    color: #f1c40f;
}

.fa-sun{
    color: #f39c12;
}


/* TIMER */
.secaoTimer{
    text-align: center;
    padding: 30px;
    margin: auto;
}

h1{
    font-size: 60px;
}

button{
    height: 2.2em;
    width: 6em;
    border: none;
    color: var(--color-white);
    cursor: pointer;
}

.btn-start{
    background-color: rgb(35, 143, 35);
    border-radius: 10px;
}

.btn-stop{
    background-color: tomato;
    border-radius: 10px;
}

.btn-pause{
    background-color: rgb(105, 105, 105);
    border-radius: 10px;
}

.btn-start:hover{
    background-color: rgb(24, 122, 24);
}

.btn-stop:hover{
    background-color: rgb(230, 76, 49);
}

.btn-pause:hover{
    background-color: rgb(90, 90, 90);
}

